html,body { 
	height:100%;
	background-color: #F0F0F0;
}

#crawler {
	background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.divMain {
	padding: 65px 15px 0px 15px;
}

#groupMain {
	padding: 10px 15px 0px 15px;
}

#tableCrawl {
	width: 100%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
	width: 110px;
	text-align: center;
}

#divGroup {
	width: 100%;
	background-color: #F0F0F0;
	height: 50px;
	position: absolute;
}

#divContent {
	height: 100%;
}

.content {
	float: left;
}

#contentInput {
	width: 25%;
    height: 100%;
	background-color: #E8E8E8;
}

#contentTable {
	width: 75%;
    height: 100%;
	background-color: #E0E0E0;
	overflow-y: scroll;
}

#loader {
	display: block;
    margin-left: auto;
    margin-right: auto;	
}

.top {
	float: left;
}

#showResults {
	padding-top: 10px;
}

#btns {
	padding-top: 10px;
	position: relative;
	height: 70px;
}

#content {
	height: 175px;
}

.btnCrawl {
	width: 50%;
    margin: 0 auto;
}

.divPopup {
	width: 300px;
    height: 200px;
}

.inputField {
	float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inputDiv {
	height: 50px;
}

#rightDomain, #rightNumber {
	padding-left: 10px;
	width: 175px;
}

#leftDomain, #leftNumber {
	width: 70px;
}

#tdUrl {
	width: 280px;
}

.btnHolder {
	position: absolute;
    width: 100%;
}

#btnSubmit {
	z-index: 3;
}

#btnResults {
	z-index: 2;
}

#btnClear {
	z-index: 1;
}

#loaderDiv {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#infoPopup1, #infoPopup2, #infoPopup3, #infoPopup4, #infoPopup5 {
	width: 750px;
    height: 300px;
}

.tdResults {
	width: 100%;
	height: 40px;
}

#tableResults {
	border: 1px solid black;
	width: 100%;
}

#divResultsData {
	padding: 0px 15px 0px 15px;
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
    height: 50%;
}

#tableResults td {
	text-align: left;
}