html,body { 
	height:100%;
	background-color: #F0F0F0;
}

#crawler {
	background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.divMain {
	padding: 65px 15px 0px 15px;
}

#groupMain {
	padding: 10px 15px 0px 15px;
}

#tableMain {
	width: 100%;
	border: 1px solid black;
}

td {
	border: 1px solid black;
	width: 110px;
	text-align: center;
}

#divGroup {
	width: 100%;
	background-color: #F0F0F0;
	height: 50px;
	position: absolute;
}

#divContent {
	height: 100%;
}

.content {
	float: left;
}

#contentInput {
	width: 25%;
    height: 100%;
	background-color: #E8E8E8;
}

#contentTable {
	width: 75%;
    height: 100%;
	background-color: #E0E0E0;
	overflow-y: scroll;
}

#loader {
	padding-left:20px;
	height: 25px;	
}

.top {
	float: left;
}

#showResults {
	padding-top: 10px;
}

#btns {
	padding-top: 10px;
}

#content {
	height: 175px;
}

.btnCrawl {
	width: 50%;
    margin: 0 auto;
}

.divPopup {
	width: 300px;
    height: 200px;
}

.inputField {
	float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inputDiv {
	height: 50px;
}

#rightDomain, #rightNumber {
	padding-left: 10px;
	width: 175px;
}

#leftDomain, #leftNumber {
	width: 70px;
}

#tdUrl {
	width: 280px;
}